/* ______________________RESET CSS_____________________ */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong {
    font-weight: bold;
    text-transform: uppercase;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    color: unset;
}
/* __________________________CSS QUEEN NARA__________________ */
:root {
    --main-clr: #05263a;
    --sub-dark_clr: #80503a;
    --sub-light_clr: #f4d6bc;
    --text-clr: #054666;
    --nav-text: #cccdd1;
    --no-clr: rgba(0, 0, 0, 0);
}

/* ____________________________Button________________________________ */
.btn {
    white-space: nowrap;
    color: white;
    padding: 0.9rem 2.5rem;
    background: linear-gradient(to right, #976856, #7d4f38, #aa816f);
    border-radius: 100rem;
    border-top: 1px var(--sub-light_clr) solid;
    border-bottom: 1px var(--sub-dark_clr) solid;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.view360 {
    display: flex;
    color: var(--sub-light_clr);
    border: 1px solid var(--sub-light_clr);
    padding: 0.8rem 2rem;
    border-radius: 100rem;
    justify-content: center;
    align-items: center;
}
.view360:hover {
    background-color: #f4d6bc18;
}
.view360 > span {
    margin: auto;
}
/* __________________________FLEX______________________________ */
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-title {
    padding-top: 2rem;
    font-size: 2.8rem;
    color: var(--text-clr);
    text-transform: uppercase;
    font-weight: bold;
}
/* _________________________MAIN CSS__________________________ */
#queen_nara {
    width: 100vw;
    overflow-x: hidden;
}
#header {
    height: 60px;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--no-clr);
    border-bottom: 1px rgba(245, 222, 179, 0.138) solid;
    z-index: 9999;
    transition: 0.3s ease;
}
.fixed {
    background: var(--main-clr) !important;
    height: 55px !important;
}
.header_logo {
    position: absolute;
    width: 12rem;
}
.nav {
    height: inherit;
    justify-content: flex-end;
    gap: 0 25px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--nav-text);
}
.mobile_bar {
    display: none;
}
.nav_item {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    transition: 0.35 ease;
}
.nav_item:hover {
    color: white;
}

.nav_item::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--sub-light_clr);
    transition: 0.3s ease;
}
.nav_item::after:hover {
    width: 100%;
}
.nav_item:hover::after {
    width: 100%;
}
.nav_item:nth-last-child(1)::after,
.nav_item:nth-last-child(2)::after {
    width: 0% !important;
}
/* ____________________________Section_1_____________________________ */
#s1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}
.bg {
    max-width: 100%;
}
.s1_item {
    height: auto;
    position: absolute;
    flex-direction: column;
    gap: 3rem 0;
    margin-right: 9rem;
}
/* _____________________________s2__________________________________ */
#s2 {
    background-image: url("../img/light-main-bg.png");
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}
.s2_item {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 6rem 10rem;
    margin-bottom: 0;
}
.s2_img {
    width: 85%;
    border-radius: 0.5rem;
    box-shadow: 0 0 3px var(--main-clr);
}

.description_container {
    width: 70%;
    height: auto;
    margin-top: -15rem;
    background-image: url("../img/table-bg.png");
    border-radius: 1.2rem;
    box-shadow: 0 0 7px var(--main-clr);
    z-index: 99;
}
.description_title {
    padding-left: 3rem;
    margin-bottom: 16rem;
}
.description_item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: start;
    flex: 1;
    padding: 5rem;
    padding-bottom: 0;
}
.description_content {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
}
.description_content-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem 0rem;
}
.description_content-list > li {
    font-size: 1.5rem;
    color: white;
    list-style-type: disc;
}
.description_table {
    overflow-x: auto;
    min-height: 0.01%;
}
.description_table-title {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 2rem;
}
.table_bordered {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}
.table_bordered > tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 1.35rem;
}
.table_bordered > tbody > tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table_bordered > tbody > tr > th {
    color: #fff;
    text-align: center;
    background: #135b8b;
    border: 1px #89adc3 solid;
    padding: 1rem;
    line-height: 1.4;
}
.table_bordered > tbody > tr > td {
    border: 1px #89adc3 solid;
    color: #fff;
    padding: 1rem 0rem;
    font-weight: normal;
    padding-left: 1.5rem;
    align-items: center;
    vertical-align: middle !important;
}
.table_bordered > tbody > tr > td:nth-child(5) {
    text-align: center;
    padding-left: 0;
}
.description_footer {
    position: relative;
}
.description_footer > img {
    padding-top: 8rem;
}
.img_full-width {
    max-width: 100% !important;
    height: auto;
    margin-top: -3px;
}
.description_footer-contentbox {
    position: absolute;
    width: 30%;
    bottom: 0rem;
    right: 6rem;
    padding-bottom: 5rem;
    font-size: 14px;
    line-height: 1.7;
    color: white;
}
.description_footer-contentbox > img {
    width: 100%;
}
/* _______________________________s3______________________________ */
#s3 {
    background-image: url("../img/dark-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -3px;
    padding-top: 2rem;
    width: 100vw;
    gap: 5rem 0;
    padding: 5rem 1rem;
    height: auto;
}
.section_slider {
    width: 100%;
    height: 50rem;
    position: relative;
    overflow: hidden;
}
.section_slider:hover > .swiper_button {
    opacity: 1;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.section_title {
    padding-top: 2rem;
    width: 100%;
    text-align: center;
}
.slider .swiper-container {
    width: 100%;
    z-index: 1;
}
.slider .swiper-wrapper {
    position: absolute;
    display: flex;
}
.slider .swiper-slide {
    transition: all 0.35s ease;
    transform: scale(0.75);
    opacity: 0.5;
}
.slider .swiper-slide > img {
    width: 90%;
    height: 50rem;
}
.slider .swiper-slide.swiper-slide-active {
    transform: scaleX(1.4);
    z-index: 999;
    opacity: 1;
}
.swiper_button {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    opacity: 0;
    transition: 0.3s ease;
}
.swiper-button-next,
.swiper-button-prev {
    padding: 1rem 2rem;
    border-radius: 100rem;
    background-color: white;
    cursor: pointer;
    z-index: 999;
}
.section_footer {
    width: 60rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.6;
    color: white;
    font-weight: normal;
}
.section_footer-title {
    gap: 0rem 3rem;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 1px;
    padding-bottom: 1.5rem;
}
.section_footer-title > img {
    width: 3rem;
}
/* __________________________________s4________________________ */
#s4 {
    background-image: url("../img/light-main-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -3px;
    padding-top: 2rem;
    width: 100vw;
    gap: 5rem 0;
    padding: 5rem 1rem;
    height: auto;
}
.s4_footer {
    color: var(--main-clr);
    flex-direction: column;
    gap: 1.5rem 0;
}
.s4_footer > .section_footer-title > img {
    width: 10rem;
}
/* _______________________s5_____________________________ */
.section_img-container {
    position: relative;
}
.section_img-title {
    position: absolute;
    width: 40rem;
    top: 5rem;
    left: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    gap: 2rem 0;
    line-height: 1.6;
}
.section_img-title > img {
    width: 90%;
}
.section_img-container:nth-child(2) > .section_img-title {
    flex-direction: row;
    width: 100rem;
    gap: 0 2rem;
}
/* ________________________________s5________________________________ */
.layout {
    background-image: url("../img/light-main-bg.png");
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5rem;
    gap: 5rem 0;
}

/* ___________________________s6________________________________ */
.progress {
    background-image: url("../img/dark-bg.png");
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5rem;
    gap: 5rem 0;
    height: auto;
    padding-bottom: 10rem;
}
.progress > .main-title {
    color: var(--sub-light_clr);
}
.progress_container {
    width: 70%;
    height: 60rem;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}
.progress_time {
    color: var(--sub-light_clr);
    font-size: 1.6rem;
    border-right: 1px solid var(--sub-light_clr);
    padding-right: 3rem;
    position: relative;
}
.progress_time::after {
    position: absolute;
    content: "";
    top: 0;
    right: -0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100rem;
    background-color: var(--sub-light_clr);
    box-shadow: 0 0 0 5px #062e42;
}
.progress_item {
    display: flex;
    height: 55rem;
    gap: 0 2rem;
}
.progress_img {
    flex: 1;
    padding-bottom: 5rem;
}
.progress_img > img {
    width: 100%;
    height: 100%;
}
/* _________________________s7 libary________________________________ */
.libary {
    background-image: url("../img/light-main-bg.png");
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5rem;
    gap: 5rem 0;
}
.libary_button {
    margin-left: -2rem;
}

.libary_button-item {
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.4rem;
    color: var(--text-clr);
    padding: 0.7rem 2.5rem;
    border: 1px solid var(--text-clr);
    border-radius: 10rem;
    transition: 0.35s ease;
}
.libary_button-item:hover,
.libary_button-item.active {
    color: white;
    background-color: var(--text-clr);
}
.libary_images {
    display: flex;
    position: relative;
    width: 90%;
    height: 30rem;
    overflow: hidden;
}

.libary_images .swiper-wrapper {
    position: absolute;
    display: flex;
    padding-left: 1.75rem;
}
.libary_images .swiper-slide {
    transition: all 0.35s ease;
}
.libary_images .slide-item {
    width: 90%;
    height: 20rem;
    border-radius: 1.5rem;
}
/* _________________________________form________________________________- */
#form {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background-image: url(../img/footer-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem 0;
}
#form > .main-title {
    color: white;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    width: 80rem;
    border-radius: 1rem;
    border: 2px solid var(--sub-light_clr);
    box-shadow: 0 0 2px var(--sub-light_clr);
    gap: 4rem;
}
.form_input-container {
    gap: 2rem;
}
.form_input-container > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}
.form_input-container > div > input {
    width: 30rem;
    height: 4rem;
    border-radius: 0.5rem;
    padding-left: 1.2rem;
    font-size: 1.4rem;
}
.form_input-container > div > input:focus {
    outline: 2px solid var(--sub-light_clr);
}
.form_input-container > div:nth-child(2) > textarea {
    width: 30rem;
    height: 14rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding: 1.2rem;
}
.form_btn {
    padding: 0.8rem 10rem;
    font-size: 1.6rem;
    min-width: 20rem;
    min-height: 3rem;
}

#footer {
    height: 80px;
    width: 100%;
    justify-content: space-around;
    background: linear-gradient(to right, #976856, #7d4f38, #aa816f);
}
#footer > div:nth-child(1) {
    width: 20%;

    gap: 1rem;
    border-right: 1px dotted #fff;
}
#footer > div:nth-child(3) {
    width: 30%;
    padding: 0 5rem;
    font-size: 1.2rem;
    line-height: 1.5;

    gap: 2rem;

    color: white;
}
#footer > div:nth-child(2) {
    flex: 1;
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    border-right: 1px dotted white;
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
}
#footer > div:nth-child(2) > p:nth-child(1) {
    width: 60%;
    padding-right: 1rem;
}
.scroll_top {
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--text-clr);
    opacity: 0.8;
    border-radius: 10rem;
    box-shadow: 0 0 5px var(--main-clr);
    cursor: pointer;
}
@media screen and (max-width: 1280px) {
    #s1 {
        margin-top: 50px;
    }
    #s1::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--main-clr);
        opacity: 0.5;
        z-index: 0;
    }
    .s1_item {
        z-index: 1;
    }
    #header {
        height: 50px;
        background-color: var(--main-clr);
    }
    .header_logo {
        width: 7rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mobile_bar {
        display: block;
        width: 3rem;
        height: 2rem;
        background-color: var(--text-clr);
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }
    .nav {
        height: auto;
        width: 100%;
        padding: 5rem 0;
        position: absolute;
        top: 4rem;
        z-index: -1;
        opacity: 0.9;
        left: 0;
        transform: translateY(-100%);
        transition: 0.35s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem 0;
        background-color: var(--main-clr);
    }
    .nav.mobile_show {
        transform: translateY(0%);
    }

    .btn {
        font-size: 1.2rem;
        padding: 0.5rem 1.5rem;
    }
    .s2_item > img {
        display: none;
    }
    .title_image > img {
        width: 25rem !important;
    }
    .description_container {
        margin-top: -5.9rem;
        padding-top: 2rem;
        width: 100%;
        border-radius: 0;
    }
    .description_item {
        padding: 5rem 0;
        padding-top: 2rem;
    }
    .description_content-list {
        margin-left: 2rem;
    }
    .description_table-title {
        font-size: 1.2rem;
    }

    .description_table {
        width: 100vw;
        padding: 0 1rem;
    }
    .table_bordered > tbody,
    .description_content-list > li {
        font-size: 1rem !important;
    }
    .table_bordered > tbody > tr > td {
        padding-left: 0.5rem;
    }
    .description_title,
    .description_footer-title {
        display: none;
    }
    .description_footer {
        margin-top: -7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description_footer::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--main-clr);
        opacity: 0.5;
        z-index: 0;
    }
    .description_footer-contentbox {
        width: 80%;
        text-align: center;
        right: unset;
        z-index: 1;
    }
    .progress_container {
        height: 50rem;
    }
    .section_footer {
        width: 100%;
    }
    .section_img-title {
        width: 100%;
        text-align: center;
        left: 0;
        font-size: 1.2rem;
        padding: 1rem;
        top: 2rem;
    }
    .section_img-container:nth-child(2) > .section_img-title {
        flex-direction: column;
        width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        font-size: 1rem;
        padding: 0.8rem 1rem;
    }
    .section_img-container::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--main-clr);
        opacity: 0.5;
        z-index: 0;
    }
    .progress_container {
        width: 90%;
    }
    .form {
        width: 40rem;
        gap: 2rem;
    }
    .form_input-container {
        flex-direction: column;
    }
    #footer {
        flex-direction: column;
        height: auto;
        gap: 2rem;
        padding: 2rem 0;
    }
    #footer > div {
        width: 100% !important;
        font-size: 1rem !important;
    }
    #footer > div:nth-child(2) {
        order: 1;
    }
}
@media screen and (max-width: 767px) {
    .s1_item > img {
        width: 12rem;
    }

    .section_slider {
        height: 25rem;
    }
    .title_image > img {
        width: 25rem !important;
    }
    .s1_item {
        width: 100%;
        margin: 0;
    }
    .s1_item > img {
        width: 15rem;
    }
    .section_img-title {
        top: 0rem;
    }
    .form {
        width: 95%;
    }
}
/* _______________________SCROLLBAR_____________________________ */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--main-clr);
}
::-webkit-scrollbar-thumb {
    background: var(--sub-light_clr);
}
